

.container {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  margin-left: 15%;
  margin-right: 15%;
  font-size: 20px;
  font-weight: 300;
}

div {

  padding-bottom: 50px;
}

div.info {
  padding-bottom: 20px;
}
h1 {

  font-size: 36px;
  color: #719641;
  padding-bottom: 20px;

}

h2 {
  font-size: 24px;
  padding-bottom: 20px;

}

.amazon {
  font-size: 20px;
  font-weight: 300;
  color: black;
}


/*
p {
  padding-top: 10px;
  padding-bottom: 10px;
}*/


.buttons {
  padding: 30px;
  padding-bottom: 50px;
  /* margin-right: auto;
  margin-left: auto; */
  position: relative;
  text-align: center;
}
 

.events {
  padding-bottom: 50px;
}

iframe {
  display: block;
  margin: auto;
}
/*wishlist */

div h3 {
  color: #3A4151;
  padding-right: 30px;
  width: 220px;
  font-weight: 300;
}
.wishlist, .items, .info{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin:2px 0;
}
div.wishlist > div {
  display: flex;
}

ul.flex {
  /*height: 180px;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
}

ul.misc{
  height:inherit;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
}

/*ul.long {
  max-height: 200px;
}*/




ul.flex > li {
  padding-right: 100px;
  width: 327px;
  padding-bottom: 10px;
  font-weight: normal;
  color: #3A4151;

}

div.guidelines > p {
  padding-bottom: 20px;
}
ul.guidelines {
  position: relative;
  list-style-position: inside;

}

ul.guidelines > li {
  font-weight: normal;
  color: #3A4151;

}

/*section ul.misc {
  max-height: 350px;
}*/
/*items*/
div.items > div > div {
  display: flex;
}

/*div.items > div > div > ul.flex {
  height: 270px;
}*/

/*div.items > div > div > ul.accept {
  height: 400px;
}*/

div.items > div > div > ul.flex > li {
  width: 345px;
}

div.info > div > h3 {

  font-weight: normal;
  color: #3A4151;

}

div.info > div {
  padding-bottom: 20px;
}


/*END GET INVOLVED CONTENT*/


.agenda {
  display: none;
}

@media screen and (max-width: 660px){

 ul.flex {
 }
}
@media screen and (max-width: 900px){



  div.items > div > div {
    display: inline;
  }
  div.items > div {
      padding-bottom: 30px;
  }
  div.wishlist > div {
    display: inline;
  }

  ul.flex {
    /* display: inline; */
    padding-bottom: 20px;
  }

  h3 {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 1152px) {

  .container {
  margin-left: 5%;
  margin-right: 5%;
  }



}
@media screen and (max-width: 768px) {
  .monthly {
    display: none;
  }
  .agenda {
    display: inline;
  }
}
/********************************************************/
@media all and (min-width: 768px) {
    div.items > div > div > ul.flex {
  max-height: 300px;
}

div.items > div > div > ul.accept {
  max-height: 450px;
}

ul.flex {
    max-height: 200px;
    }

ul.misc {
    max-height: 300px;
    }
  }


@media all and (min-width: 1024px) {
    div.items > div > div > ul.flex {
  max-height: 250px;
}

div.items > div > div > ul.accept {
  max-height: 350px;
}

ul.flex {
    max-height: 200px;
    }

ul.misc {
    max-height: 300px;
    }
  }
    